* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
/artisan filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.htaccess filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/composer/LICENSE filter=lfs diff=lfs merge=lfs -text
*.php_cs filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/guzzle/Dockerfile filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/guzzle/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/promises/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/promises/Makefile filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/psr7/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/mtdowling/jmespath.php/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/mtdowling/jmespath.php/Makefile filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.dist filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/psr/http-message/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/ralouphie/getallheaders/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/symfony/polyfill-mbstring/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.ufm filter=lfs diff=lfs merge=lfs -text
/.docker/Dockerfile filter=lfs diff=lfs merge=lfs -text
/vendor/asm89/stack-cors/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/brick/math/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/codedge/laravel-fpdf/LICENSE filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.z filter=lfs diff=lfs merge=lfs -text
/vendor/composer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/dflydev/dot-access-data/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/inflector/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/instantiator/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/lexer/LICENSE filter=lfs diff=lfs merge=lfs -text
*.LGPL filter=lfs diff=lfs merge=lfs -text
/vendor/dompdf/dompdf/VERSION filter=lfs diff=lfs merge=lfs -text
*.afm filter=lfs diff=lfs merge=lfs -text
*.ser filter=lfs diff=lfs merge=lfs -text
/vendor/dragonmantank/cron-expression/LICENSE filter=lfs diff=lfs merge=lfs -text
*.neon filter=lfs diff=lfs merge=lfs -text
/vendor/egulias/email-validator/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
*.stub filter=lfs diff=lfs merge=lfs -text
*.mailmap filter=lfs diff=lfs merge=lfs -text
/vendor/fruitcake/laravel-cors/LICENSE filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/vendor/fzaninotto/faker/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/graham-campbell/result-type/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/guzzlehttp/guzzle/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/guzzlehttp/promises/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/guzzlehttp/promises/Makefile filter=lfs diff=lfs merge=lfs -text
/vendor/guzzlehttp/psr7/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/laravellegends/pt-br-validator/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
/vendor/league/commonmark/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/league/flysystem/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/league/mime-type-detection/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/mockery/mockery/LICENSE filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
/vendor/monolog/monolog/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/myclabs/deep-copy/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/nesbot/carbon/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/nesbot/carbon/bin/carbon filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/vendor/nikic/php-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/nikic/php-parser/bin/php-parse filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.y filter=lfs diff=lfs merge=lfs -text
/vendor/opis/closure/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/opis/closure/NOTICE filter=lfs diff=lfs merge=lfs -text
/vendor/phar-io/manifest/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phar-io/version/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phenx/php-font-lib/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phenx/php-svg-lib/COPYING filter=lfs diff=lfs merge=lfs -text
*.GPL filter=lfs diff=lfs merge=lfs -text
/vendor/phpdocumentor/reflection-common/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpdocumentor/reflection-docblock/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpdocumentor/type-resolver/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpoption/phpoption/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpoption/phpoption/Makefile filter=lfs diff=lfs merge=lfs -text
/vendor/phpspec/prophecy/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/php-code-coverage/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/php-file-iterator/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/php-invoker/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/php-text-template/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/php-timer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/phpunit/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpunit/phpunit/phpunit filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.tpl filter=lfs diff=lfs merge=lfs -text
/vendor/psr/container/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/event-dispatcher/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-client/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-factory/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-message/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/log/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psy/psysh/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psy/psysh/bin/psysh filter=lfs diff=lfs merge=lfs -text
/vendor/ralouphie/getallheaders/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/ramsey/collection/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/ramsey/uuid/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sabberworm/php-css-parser/Doxyfile filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/cli-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/code-unit-reverse-lookup/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/code-unit/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/comparator/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/complexity/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/diff/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/environment/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/exporter/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/global-state/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/lines-of-code/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/object-enumerator/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/object-reflector/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/recursion-context/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/resource-operations/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/type/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/sebastian/version/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/swiftmailer/swiftmailer/CHANGES filter=lfs diff=lfs merge=lfs -text
/vendor/swiftmailer/swiftmailer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/console/LICENSE filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/css-selector/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/deprecation-contracts/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/error-handler/LICENSE filter=lfs diff=lfs merge=lfs -text
*.base64 filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/event-dispatcher-contracts/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/event-dispatcher/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/finder/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/http-client-contracts/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/http-foundation/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/http-kernel/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/mime/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-ctype/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-iconv/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-intl-grapheme/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-intl-idn/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-intl-normalizer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-mbstring/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-php72/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-php73/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-php80/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/polyfill-php81/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/process/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/routing/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/service-contracts/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/string/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/translation-contracts/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/translation/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/var-dumper/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/symfony/var-dumper/Resources/bin/var-dump-server filter=lfs diff=lfs merge=lfs -text
/vendor/theseer/tokenizer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/vlucas/phpdotenv/LICENSE filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/vendor/webmozart/assert/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/composer/package-versions-deprecated/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/cache/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/dbal/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/dbal/bin/doctrine-dbal filter=lfs diff=lfs merge=lfs -text
/vendor/doctrine/event-manager/LICENSE filter=lfs diff=lfs merge=lfs -text
