* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
/artisan filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.htaccess filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/composer/LICENSE filter=lfs diff=lfs merge=lfs -text
*.php_cs filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/guzzle/Dockerfile filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/guzzle/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/promises/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/promises/Makefile filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/guzzlehttp/psr7/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/mtdowling/jmespath.php/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/mtdowling/jmespath.php/Makefile filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.dist filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/psr/http-message/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/ralouphie/getallheaders/LICENSE filter=lfs diff=lfs merge=lfs -text
/public/backup-s3/vendor/symfony/polyfill-mbstring/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.ufm filter=lfs diff=lfs merge=lfs -text
/.docker/Dockerfile filter=lfs diff=lfs merge=lfs -text
